name: env

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      - enh/7/ci-setup


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: mle-dev
          environment-file: etc/env.yml
          auto-activate-base: false

      - name: Activate Conda environment
        run: |
          source $CONDA/etc/profile.d/conda.sh
          conda init
          conda activate mle-dev

      - name: Run flake8 test
        run: |
          conda install flake8
          flake8 nonstandardcode.py

      - name: Run nonstandardcode.py
        run: |
          python nonstandardcode.py
