
name: docker-pull

on:
  pull_request:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Tree view
        run: |
          ls -la
          sudo apt-get install -y tree
          tree .

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to registry
        uses: docker/login-action@v2
        with:
          registry: https://index.docker.io/v1/
          username: ${{ secrets.DH_username }}
          password: ${{ secrets.DH_password }}

      - name: Pull container image to registry
        run: docker pull dhikshita/docker:v2
        - name: Set up MLflow
        run: |
          pip install mlflow
          mlflow server --backend-store-uri sqlite:///mlflow.db --default-artifact-root ./artifacts --host 0.0.0.0 --port 5008 &
      - name: Run Docker container
        run: docker run -p 5008:5008 dhikshita/docker:v2