name: documentation

on:
  pull_request:
    branches:
      - main

jobs:
  docs_build_job:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: mle-dev
          environment-file: deploy/conda/env.yml
          auto-activate-base: false

      - name: Install Tree Cli
        run: |
          sudo apt install tree

      - name: Tree before build
        run: |
          tree

      - name: Build docs using sphinx
        run: |
          pip install sphinx sphinx_rtd_theme
          mkdir docs/
          cd docs
          sphinx-quickstart --quiet --sep -p housingPricePrediction -a Dhikshita -v 0.0.1 --ext-autodoc
          sphinx-apidoc -o docs ../src/housePricePrediction/
          make html

      - name: Tree after build
        run: |
          tree

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: pytest_arti
          path: dist/


