name: testing-python code (unit test)

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - test/15/unittest

jobs:
  unittest_python_code:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: mle-dev
          environment-file: deploy/conda/env.yml
          auto-activate-base: false

      - name: Install Tree Cli
        run: |
          sudo apt install tree

      - name: Tree before build
        run: |
          tree

      - name: Build Package
        run: |
           pip install -e .
           pip install -U pytest


      - name: Tree after build
        run: |
          tree
      - name: Test using Pytest
        run: |
          pytest