name: Workflow_scripts

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - sample

jobs:
  unittest_python_code:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: mle-dev
          environment-file: deploy/conda/env.yml
          auto-activate-base: false

      - name: Install Tree Cli
        run: |
          sudo apt install tree

      - name: Tree before build
        run: |
          tree

      - name: Install Package in dev mode
        run: |
           pip install -e .
           pip install -U pytest

      - name: Test using Pytest
        run: |
          pytest -v
  Building_job:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: mle-dev
          environment-file: deploy/conda/env.yml
          auto-activate-base: false

      - name: Build Package
        run: |
          pip install --upgrade setuptools
          pip install --upgrade build
          python -m build
          pip install -U pytest

      - name: Test using Pytest
        run: |
          pytest /test/functional_tests/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: pytest_arti
          path: dist/

  deploy_job:
    needs: Building_job
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: mle-dev
          environment-file: etc/env.yml
          auto-activate-base: false

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: pytest_arti

      - name: Install Package
        run: |
          pip install *.whl

      - name: Run nonstandardcode.py
        run: |
          python ingestion.py data



